extends layout

block content
    .page-header
        h3 Search for available addresses
    form.form-horizontal
        input(type="hidden", name="_crsf", value=_csrf)
        .form-group
            label.col-sm-3.control-label(for="enterAddress") Filter Address(Enter data to filter records) :
            .col-sm-7
                input.form-control(type='text', name="enterAddress", id="enterAddress", placeholder="Enter filter Address", autofocus, required)
    .row(style="margin-top:30px;")
        .col-md-3
            b Address
        .col-md-3
            b User
        .col-md-3
            b Item

    each val in values
        .row.value-container
            span Date :
            span(style="font-weight:bold;")= val.date
            each dat in val.data
                .row.values
                    .col-md-3.val-address= dat.address
                    .col-md-3.val-user= dat.user
                    .col-md-3.val-item= dat.item
                    .col-md-2
                        input(type="checkbox",value="Selected")
    else
        .row(style="text-align:center;") Nothing 
    .page-header
        h3 Enter Available Addresses (Enter values to insert in the database)
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label.col-sm-3.control-label(for='user1') User :
            .col-sm-7
                input.form-control(type='text', name='user', id='user1', placeholder='Enter User', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='date1') Date :
            .col-sm-7
                input.form-control(type='text', name='date', id='date1', placeholder='Enter Date', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='address1') Address :
            .col-sm-7
                input.form-control(type='text', name='address', id='address1', placeholder='Enter Address', autofocus, required)
        .form-group
            label.col-sm-3.control-label(for='item1') Item :
            .col-sm-7
                input.form-control(type='text', name='item', id='item1', placeholder='Enter Item', autofocus, required)
        .form-group
            .col-sm-offset-3.col-sm-7
                button.col-sm-3.btn.btn-primary(type='submit')
                    i.fa.fa-user
                    | Submit